<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script src="vue/axios.min.js"></script>
    <script src="vue/axios.interceptor.js"></script>
    <script src="vue/vue.min.js"></script>
    <script src="vue/img.js"></script>

    <title>尤洪</title>


</head>
<body>
<!--Begin Header Begin-->
<div id="soubg">
    <div class="soubg">
        <div class="sou">
            <!--Begin 所在收货地区 Begin-->
            <span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span>四川</span>
                <div class="s_city_bg">
                	<div class="s_city_t"></div>
                    <div class="s_city_c">
                    	<h2>请选择所在的收货地区</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0"
                               cellpadding="0">
                          <tr>
                            <th>A</th>
                            <td class="c_h"><span>安徽</span><span>澳门</span></td>
                          </tr>
                          <tr>
                            <th>B</th>
                            <td class="c_h"><span>北京</span></td>
                          </tr>
                          <tr>
                            <th>C</th>
                            <td class="c_h"><span>重庆</span></td>
                          </tr>
                          <tr>
                            <th>F</th>
                            <td class="c_h"><span>福建</span></td>
                          </tr>
                          <tr>
                            <th>G</th>
                            <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                          </tr>
                          <tr>
                            <th>H</th>
                            <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                          </tr>
                          <tr>
                            <th>J</th>
                            <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                          </tr>
                          <tr>
                            <th>L</th>
                            <td class="c_h"><span>辽宁</span></td>
                          </tr>
                          <tr>
                            <th>N</th>
                            <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                          </tr>
                          <tr>
                            <th>Q</th>
                            <td class="c_h"><span>青海</span></td>
                          </tr>
                          <tr>
                            <th>S</th>
                            <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span
                                    class="c_check">四川</span><span>陕西</span></td>
                          </tr>
                          <tr>
                            <th>T</th>
                            <td class="c_h"><span>台湾</span><span>天津</span></td>
                          </tr>
                          <tr>
                            <th>X</th>
                            <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                          </tr>
                          <tr>
                            <th>Y</th>
                            <td class="c_h"><span>云南</span></td>
                          </tr>
                          <tr>
                            <th>Z</th>
                            <td class="c_h"><span>浙江</span></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
            <!--End 所在收货地区 End-->
            <span class="fr">
            <span class="fl">
                <span v-if="loginName===''">你好，请<a href="Login.html">登录</a>&nbsp;</span>
                <span v-else>欢迎:
                    <span style="font-size: 16px">{{loginName}}</span> &nbsp;
                    <a href="#" @click.prevent="exit">注销</a>&nbsp;
                </span>


                <a href="/api/Regist.html" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;
                <a href="/api/Member_Order.html">我的订单</a>&nbsp;|</span>

        	<span class="ss">
            	<div class="ss_list">
                	<a href="#">收藏夹</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="/api/Member_Collect.html">我的收藏</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">客户服务</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="/api/Member_Safe.html">账户安全</a></li>
                                <li><a href="/api/NewsList.html">资讯列表</a></li>
                                <li><a href="/api/Member_Order.html">后台服务</a>&nbsp;</li>
                                <li><a href="/api/Member_address.html">用户地址</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">网站导航</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="/api/CategoryList.html">全部商品</a></li>
                                <li><a href="/api/BuyCar.html">购物车</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="images/s_tel.png" align="absmiddle"/></a></span>
        </span>
        </div>
    </div>
    <div class="m_top_bg">
        <div class="top">
            <div class="m_logo"><a href="/api/Index.html"><img src="images/logo1.png"/></a></div>
            <div class="m_search">
                <form>
                    <input type="text" value="" class="m_ipt"/>
                    <input type="submit" value="搜索" class="m_btn"/>
                </form>
                <span class="fl"><a href="#">咖啡</a><a href="#">iphone 6S</a><a href="#">新鲜美食</a><a
                        href="#">蛋糕</a><a
                        href="#">日用品</a><a href="#">连衣裙</a></span>
            </div>
            <div class="i_car">
                <div class="car_t">购物车 [ <span>{{car.totalNum}}</span> ]</div>

                <div class="car_bg">

                    <!--Begin 购物车未登录 Begin-->
                    <div class="un_login" v-if="loginName==''||loginName==null">还未登录！<a href="/api/Login.html"
                                                                                            style="color:#ff4e00;">马上登录</a>
                        查看购物车！
                    </div>


                    <!--End 购物车未登录 End-->
                    <!--Begin 购物车已登录 Begin-->
                    <div v-else>
                        <ul class="cars">


                            <li v-for="carDetail in carDetailList">
                                <div class="img"><a href="#"><img
                                        :src="imgURL+carDetail.fileName" width="58"
                                        height="58"/></a></div>
                                <div class="name"><a href="#">{{carDetail.productName}}</a></div>
                                <div class="price"><font color="#ff4e00">{{carDetail.price}}</font> X{{carDetail.buyNum}}
                                </div>
                            </li>
                        </ul>
                        <div class="price_sum">共计&nbsp; <font color="#ff4e00">￥</font><span>{{car.totalPrice}}</span>
                        </div>
                        <div class="price_a"><a :href="'BuyCar.html?id='+car.id">去购物车结算</a></div>
                        <!--End 购物车已登录 End-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Header End-->
        <div class="i_bg bg_color">
            <!--Begin 用户中心 Begin -->
            <div class="m_content">
                <div class="m_left" id="mySlide">
                    <!--            用户管理、资讯添加、商品管理、分类管理要进行权限判断、-->

                    <div class="left_n"></div>
                    <div class="left_m">
                        <div class="left_m_t t_bg1">订单中心</div>
                        <ul>
                            <li><a href="/api/Member_Order.html">订单管理</a></li>
                            <li><a href="/api/Member_Address.html" style="color: #ff3600">收货地址</a></li>
                        </ul>
                    </div>
                    <div class="left_m">
                        <div class="left_m_t t_bg3">账户中心</div>
                        <ul>
                            <li><a href="/api/Member_Safe.html">账户安全</a></li>
                            <li><a href="/api/Member_Collect.html">我的收藏</a></li>
                        </ul>
                    </div>

                    <div class="left_m" v-if="userType==1">
                        <div class="left_m_t t_bg4">用户管理</div>
                        <ul>
                            <li><a href="/api/UserManager.html">用户列表</a></li>
                        </ul>
                    </div>
                    <div class="left_m">
                        <div class="left_m_t t_bg4">资讯管理</div>
                        <ul>
                            <li><a href="/api/NewsList.html">资讯列表</a></li>
                            <li><a href="/api/NewsAdd.html" v-show="userType==1">资讯添加</a></li>
                        </ul>
                    </div>
                    <div class="left_m" v-show="userType==1">
                        <div class="left_m_t t_bg4">商品管理</div>
                        <ul>
                            <li><a href="/api/ProductList.html">商品列表</a></li>
                            <li><a href="/api/ProductAdd.html">商品添加</a></li>
                        </ul>
                    </div>
                    <div class="left_m" v-show="userType==1">
                        <div class="left_m_t t_bg4">分类管理</div>
                        <ul>
                            <li><a href="/api/ProductCategory.html">分类列表</a></li>
                        </ul>
                    </div>
                </div>

                <div class="m_right" id="myOrder">
                    <p></p>
                    <div class="mem_tit">我的订单</div>
                    <p style="text-align: center; margin-bottom: 30px">
                        用户名: <input type="text" v-model="name"> &nbsp;&nbsp;
                        创建时间: <input type="date" v-model="createTime"> &nbsp;&nbsp;
                        订单号: <input type="text" v-model="serialNumber"> &nbsp;&nbsp;
                        是否付款: <select v-model="isPay">
                        <option value="">全部订单</option>
                        <option value="0">未付款</option>
                        <option value="2">已付款</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button @click="searchPage(1,2)">查询</button>
                    </p>


                    <div v-for="order in pageInfo.list">
                        <p style="text-align: center;border: 1px solid black;background-color: #cccccc">
                            用户名: <span>{{order.loginName}}&nbsp;&nbsp;</span>
                            订单号: <span>{{order.serialNumber}}&nbsp;&nbsp;&nbsp;</span>
                            下单时间: <span>{{order.createTime}}&nbsp;&nbsp;&nbsp;</span>
                            订单总金额: <span>{{order.cost}}元&nbsp;&nbsp;&nbsp;</span>


                            <span v-if="order.isPay==0">订单状态: 未支付&nbsp;&nbsp;&nbsp;</span>
                            <span v-if="order.isPay==1">订单状态: 已关闭&nbsp;&nbsp;&nbsp;</span>
                            <span v-if="order.isPay==2">订单状态: 已支付&nbsp;&nbsp;&nbsp;</span>
                            <span v-if="order.isPay==3">订单状态: 已退款&nbsp;&nbsp;&nbsp;</span>
                            <span v-if="order.delFlag==1">订单状态: 已删除&nbsp;&nbsp;&nbsp;</span>
                            操作:

                            <!-------未支付进行支付和关闭--------->
                            <span v-if="order.isPay==0"> <button v-if="userType==0"
                                                                 @click="pay(order.serialNumber,order.cost)">支付</button>&nbsp;<button
                                    @click="close(order.serialNumber)">关闭</button> </span>

                            <!-------普通用户并且支付了可以进行退款------>
                            <span v-if="order.isPay==2 && userType==0"><button
                                    @click="refund(order.serialNumber,order.cost)">退款</button></span>

                            <!-------普通用户关闭和退款可以删除---------->
                            <!-------这里的v-show判断用户权限, v-if判断付款的类型-------->
                            <span v-show="userType==0" v-if="order.isPay==1||order.isPay==3"><button
                                    @click="del(order.id)">删除</button></span>

                        </p>


                        <table border="0" class="order_tab" style="width:930px; text-align:center; margin-bottom:30px;"
                               ellspacing="0" cellpadding="0">
                            <thead>

                            <tr>
                                <td>商品名称</td>
                                <td>商品图片</td>
                                <td>数量</td>
                                <td>金额</td>
                            </tr>

                            </thead>

                            <tbody>

                            <tr v-for="orderDetail in orderDetailList" v-if="orderDetail.orderId==order.id">
                                <td>{{orderDetail.name}}</td>

                                <td>
                                    <img :src="imgURL + orderDetail.fileName">
                                </td>

                                <td>{{orderDetail.quantity}}</td>
                                <td>{{orderDetail.cost}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>


                    <div v-if="pageInfo.pages!=0">
                        <p style="margin-top:90px;text-align: center">
                            <span>共{{pageInfo.pageNum}}/{{pageInfo.pages}}页</span>

                            <button v-if="pageInfo.pageNum>1" @click.prevent="nextPage('home')">首页</button>
                            <button v-if="pageInfo.pageNum>1" @click.prevent="nextPage('pre')">上页</button>

                            <span v-for="toPage in pageInfo.navigatepageNums">

                        <button v-if="toPage===pageInfo.pageNum" @click.prevent="searchPage(toPage, 2)"
                                class="selectButton">
                            {{toPage}}&nbsp;
                        </button>


                        <button v-else @click.prevent="searchPage(toPage, 2)" class="unSelectButton">
                            {{toPage}}&nbsp;
                        </button>

                         </span>

                            <button v-if="pageInfo.pageNum<pageInfo.pages" @click.prevent="nextPage('next')">下页
                            </button>
                            <button v-if="pageInfo.pageNum<pageInfo.pages" @click.prevent="nextPage('end')">末页
                            </button>
                        </p>

                    </div>

                    <div v-if="pageInfo.pages==0">
                        <h1 style="text-align: center;margin-top: 100px">暂无数据</h1>
                    </div>
                </div>


            </div>
            <!--End 用户中心 End-->
            <!--Begin Footer Begin -->
            <div class="b_btm_bg b_btm_c">
                <div class="b_btm">
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                           cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="images/b1.png" width="62" height="62"/></td>
                            <td><h2>正品保障</h2>正品行货 放心购买</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                           cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="images/b2.png" width="62" height="62"/></td>
                            <td><h2>满38包邮</h2>满38包邮 免运费</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                           cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="images/b3.png" width="62" height="62"/></td>
                            <td><h2>天天低价</h2>天天低价 畅选无忧</td>
                        </tr>
                    </table>
                    <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                           cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="72"><img src="images/b4.png" width="62" height="62"/></td>
                            <td><h2>准时送达</h2>收货时间由你做主</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="b_nav">
                <dl>
                    <dt><a href="#">新手上路</a></dt>
                    <dd><a href="#">售后流程</a></dd>
                    <dd><a href="#">购物流程</a></dd>
                    <dd><a href="#">订购方式</a></dd>
                    <dd><a href="#">隐私声明</a></dd>
                    <dd><a href="#">推荐分享说明</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">配送与支付</a></dt>
                    <dd><a href="#">货到付款区域</a></dd>
                    <dd><a href="#">配送支付查询</a></dd>
                    <dd><a href="#">支付方式说明</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">会员中心</a></dt>
                    <dd><a href="#">资金管理</a></dd>
                    <dd><a href="#">我的收藏</a></dd>
                    <dd><a href="#">我的订单</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">服务保证</a></dt>
                    <dd><a href="#">退换货原则</a></dd>
                    <dd><a href="#">售后服务保证</a></dd>
                    <dd><a href="#">产品质量保证</a></dd>
                </dl>
                <dl>
                    <dt><a href="#">联系我们</a></dt>
                    <dd><a href="#">网站故障报告</a></dd>
                    <dd><a href="#">购物咨询</a></dd>
                    <dd><a href="#">投诉与建议</a></dd>
                </dl>
                <div class="b_tel_bg">
                    <a href="#" class="b_sh1">新浪微博</a>
                    <a href="#" class="b_sh2">腾讯微博</a>
                    <p>
                        服务热线：<br/>
                        <span>400-123-4567</span>
                    </p>
                </div>
                <div class="b_er">
                    <div class="b_er_c"><img src="images/er.gif" width="118" height="118"/></div>
                    <img src="images/ss.png"/>
                </div>
            </div>
            <div class="btmbg">
                <div class="btm">
                    备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights
                    Reserved.
                    复制必究 , Technical Support: Dgg Group <br/>
                    <img src="images/b_1.gif" width="98" height="33"/><img src="images/b_2.gif" width="98" height="33"/><img
                        src="images/b_3.gif" width="98" height="33"/><img src="images/b_4.gif" width="98"
                                                                          height="33"/><img
                        src="images/b_5.gif" width="98" height="33"/><img src="images/b_6.gif" width="98" height="33"/>
                </div>
            </div>
            <!--End Footer End -->
        </div>

    </div>
</div>
</body>

<script>
    let vm = new Vue({
        el: "#soubg",

        data: {
            loginName: "",
            isPay: "",
            createTime: "",
            serialNumber: "",
            userId: "",
            userType: "",

            pageInfo: "",
            orderDetailList: "",

            car: "",
            carDetailList: "",
            user: "",

            name: "",
        },

        methods: {

            exit: function () {
                if (confirm("你确定要注销吗?")) {
                    axios({
                        url: "/api/loginOut",
                    }).then(rs => {
                        if (rs.data.msg == "true") {
                            alert("注销成功");
                            window.sessionStorage.clear();
                            window.location.href = "/api/login.html";
                        }
                    })
                }
            },

            getCar() {
                axios({
                    url: "/api/car/getCar",
                }).then(rs => {
                    this.car = rs.data.car;

                    //定义一个专门存放 购物车的数组 把返回的集合遍历,集合元素放入数组
                    let array = [];

                    for (let car in rs.data.carMap) {
                        array.push(rs.data.carMap[car]);
                    }

                    this.carDetailList = array;
                })
            },


            refund(serialNumber, cost) {
                let refundReason = window.prompt("请说明退款理由");

                if (refundReason == "" || refundReason == null) {
                    alert("已经取消退款");
                    return;
                }

                axios({
                    url: "/api/refund",
                    params: {
                        out_trade_no: serialNumber,
                        total_amount: cost,
                        refundReason,
                    },
                }).then(rs => {
                    alert(rs.data);
                    this.searchPage(1, 2);
                })

            },

            //删除
            del(id) {
                let isDel = confirm("你确定要删除id是" + id + "的订单吗?");
                if (isDel) {
                    axios({
                        url: "/api/order/deleteOrder",
                        params: {
                            id
                        },
                    }).then(rs => {
                        if (rs.data.delete == true) {
                            alert("删除成功");
                            this.searchPage(1, 2);
                        } else {
                            alert("删除失败");
                        }
                    })
                }
            },


            //关闭
            close(serialNumber) {
                let isClose = confirm("你确定要关闭订单号是" + serialNumber + "的订单吗?");
                if (isClose) {
                    axios({
                        url: "/api/order/updateOrder",
                        params: {
                            isPay: "1",
                            serialNumber
                        },
                    }).then(rs => {
                        if (rs.data.update == true) {
                            alert("关闭成功");
                            this.searchPage(1, 2);
                        } else {
                            alert("关闭失败");
                        }
                    })
                }
            },


            //支付订单
            pay(serialNumber, cost) {
                axios({
                    url: "/api/zf",
                    params: {
                        out_trade_no: serialNumber,
                        total_amount: cost,
                        subject: "易买网订单"
                    }
                }).then(rs => {
                    console.log(rs.data);
                    var mydiv = document.createElement('div');
                    mydiv.innerHTML = rs.data;
                    document.body.appendChild(mydiv);
                    document.forms[1].submit();
                });
            },


            //获取订单列表
            searchPage(pageNum, pageSize) {
                console.log(this.user)
                axios({
                    url: "/api/order/getOrderList",
                    // 这里是传入参数给后台代码根据条件生成PageInfo
                    params: {
                        loginName: this.name,
                        isPay: this.isPay,
                        createTime: this.createTime,
                        serialNumber: this.serialNumber,
                        userId: this.userId,
                        userType: this.userType,
                        pageNum,
                        pageSize,
                    },
                }).then(rs => {

                    this.pageInfo = rs.data.pageInfo;


                    //定义一个订单id的数组
                    let orderIds = [];

                    //循环订单数量 (size),   拿出订单(list(i)) 的id,   放入数组里面
                    for (let i = 0; i < this.pageInfo.size; i++) {
                        orderIds.push(this.pageInfo.list[i].id)
                    }


                    axios({
                        url: "/api/order/getOrderDetailList",
                        method: "POST",
                        data: {
                            orderIds
                        }
                    }).then(rs => {
                        this.orderDetailList = rs.data.orderDetailList;
                    })
                })
            },


            //上下页点击
            nextPage(opr) {
                let pageNum = 1;

                switch (opr) {

                    case 'pre':
                        pageNum = this.pageInfo.hasPreviousPage ? this.pageInfo.prePage : 1;
                        break;

                    case 'next':
                        pageNum = this.pageInfo.hasNextPage ? this.pageInfo.nextPage : this.pageInfo.pages;
                        break;

                    case 'end':
                        pageNum = this.pageInfo.pages;
                        break;
                }

                this.searchPage(pageNum, 2);
            },


        },

        //页面创建起来就调用一次函数

        created: function () {

            let token = window.sessionStorage.getItem("token");
            if (token == null || token == "") {
                return;
            }

            axios({
                url: "/api/user/findUserFromToken",
            }).then(rs => {
                this.userId = rs.data.user.id;
                this.loginName = rs.data.user.loginName;
                this.userType = rs.data.user.type;
                this.getCar();
                this.searchPage(1, 2);
            })
        }
    })


</script>

</html>
